.logo {
  width: 42px;
  height: 42px;
  position: relative;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.logo a svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
